body {
    font-family: "Roboto", sans-serif;
}

header {

	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 18px;
    background-color: rgb(234, 233, 233);
    border-bottom: 1px solid #ccc5c5;
}

.logo {
    color: black;
    text-decoration: none;
}

.logo:hover {
    text-decoration: underline;
}

nav {
    overflow: auto;
}

ul.right-nav {
    list-style: none;
    padding: 0px;
    display: inline-block;
    float: right;
    margin: 11px;
}

.right-nav li {
    display: inline;
}

a {
    overflow: auto;
}

.right-nav li a {
    padding: 2px 8px;
    font-size: 20px;
    color: purple;
    text-decoration: none;

}

h1 {
	color: black;
	display: inline-block;
	margin: 10px 0;
    font-weight: 400;
}

nav.search {
    margin-top: 65px;
    margin-left: 125px;
}

form {
    margin-bottom:20px;
}

label {
    padding-left: 5px;
}

.input {
  height:25px;
  width:375px;
  margin: 0;
  font-size: 18px;
  border: solid 1px #ccc5c5;
  border-radius: 5px;
  padding-left: 10px;
}

.input input, .input img{
    float:left;
}

img {
	height: 28px;
    border: 1px solid #ccc5c5;
    border-radius: 7px;
    vertical-align: top;
}

.section2 {
    margin-left: 125px;
    margin-top: 15px;
}
div {
    display: inline-block;
    border: 1px solid #ccc5c5;
    margin-right: -5px;
    padding: 5px;
}

.previous {
    width: 65px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    font-weight: bold;
}

.center {
    width: 145px;
    text-align: center;
    font-weight: bold;

}

.next {
    width: 65px;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    font-weight: bold;

}

main {
    margin-left: 85px;
    margin-top: 25px;
}

.listings {
    list-style: none;
}

.date {
    color: #ccc5c5;
   padding-right: 5px;
}

.location {
    color: #ccc5c5;
    padding-left: 5px;
}

.padding {
    padding-bottom: 10px;
}

.jobtitle {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 5px;
}

